* {
  --color-principal: #20252c;
  --color-secondary: #e30052;
}

body {
  margin: 0;
  padding: 0;
}

.container-navbar {
  background-color: var(--color-principal);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container-navbar ul {
  margin: 0;
  list-style: none;
}

.container-navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.title {
  background-color: var(--color-principal);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
  text-align: center;
  height: 40vh;
  margin: 0 0 20px 0;
  padding: 10px 0;
}

.title h1 {
  font-weight: 800;
  font-size: 5rem;
  margin: 0;
}

.main {
  width: 100%;
  background-color: #282c34;
}

.colums-container {
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(520px, auto));
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.card-character {
  color: white;
  background-color: rgb(60, 62, 68);
  width: 500px;
  height: 210px;
  display: flex;
  overflow: hidden;
  margin: 0.75rem;
  border-radius: 0.35rem;
}

.image-character > img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  object-position: center center;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: 3 1;
  justify-content: space-evenly;
  padding: 10px;
}

.card-info h4 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
}

.name-status svg {
  margin-right: 0.3rem;
}

.text-location {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.text-location span {
  color: rgb(158, 158, 158);
}

.text-location span,
p {
  margin: 0;
}

.btns-pagination {
  display: flex;
  justify-content: center;
}

.btns-pagination button {
  padding: 0.5rem 1.2rem;
  margin: 0 1px;
  cursor: pointer;
  background-color: var(--color-principal);
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

.btns-pagination button:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.7s;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: #fff;
  height: 20vh;
}

.footer span {
  font-size: 14px;
}

.footer a {
  text-decoration: overline;
  color: aqua;
  font-weight: bold;
}

.footer a:hover {
  cursor: pointer;
  transition: ease-in 0.4s;
  color: var(--color-secondary);
}