* {
  --color-principal: #20252c;
}

body {
  margin: 0;
  padding: 0;
}

.container-navbar {
  background-color: var(--color-principal);
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
}

.container-navbar ul {
  margin: 0;
  list-style: none;
}

.container-navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.container-character {
  padding: 3rem 1rem;
  background-color: #282c34;
}

.colums-container {
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(520px, auto));
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.card-character {
  color: white;
  background-color: rgb(60, 62, 68);
  width: 500px;
  height: 210px;
  display: flex;
  overflow: hidden;
  margin: 0.75rem;
  border-radius: 0.35rem;
}

.image-character > img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  object-position: center center;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: 3 1 0%;
  justify-content: space-evenly;
  padding: 10px;
}

.card-info h4 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
}

.name-status{

}

.text-location {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.text-location span {
  color: rgb(158, 158, 158);
}

.text-location span,
p {
  margin: 0;
}
